@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200&family=Ramabhadra&family=Roboto:wght@100&family=Space+Grotesk:wght@700&family=Titillium+Web:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(89, 188, 164);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    padding: 20px;
}

.container{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
   width: 600px;
    max-width: 800px;
  
}
h3{
    margin: 50px auto;
    opacity: 0.7;
    letter-spacing: 2px;
    font-family: 'Ramabhadra', sans-serif;
}

#nextBtn{
    padding: 14px 40px;
    margin: 20px;
    font-size: 16px;
    background-color: #0fb7a6;
    border: 0;
    margin:50px;
    cursor: pointer;
    color: #ffffff;
    border-radius: 10px;
    

}
#nextBtn:active{
    transform: scale(0.98);
}

.jokes{
    margin-top: 15px;
    letter-spacing: 2px;
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 500;
}

.category{

    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: 1000;
    background-color: #d55492;
    display: inline;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    bottom:10px;
    margin-bottom: 100px;
}






